# Your OpenAI key, required if parsing texts using OpenAI models like gpt-4o-mini
OPENAI_API_KEY=sk-your-openai-api-key-here

# Mailbox naming string for Outlook detection
EMAILBOX_SUFFIX=your-mailbox-suffix-here
